<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :member_id %><br />
    <%= f.number_field :member_id %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.date_select :dob %>
  </div>
  <%= f.fields_for :address do |address| %>
    <div class="field">
      <%= address.label :line1 %><br />
      <%= address.text_field :line1 %>
    </div>
    <div class="field">
      <%= address.label :line2 %><br />
      <%= address.text_field :line2 %>
    </div>
    <div class="field">
      <%= address.label :town %><br />
      <%= address.text_field :town %>
    </div>
    <div class="field">
      <%= address.label :postcode %><br />
      <%= address.text_field :postcode %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
