<h1>Listing members</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Member ID</th>
    <th>DOB</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.firstname %></td>
    <td><%= member.lastname %></td>
    <td><%= member.member_id %></td>
    <td><%= member.dob %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
