<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @member.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @member.lastname %>
</p>

<p>
  <b>Member:</b>
  <%= @member.member_id %>
</p>

<p>
  <b>Dob:</b>
  <%= @member.dob %>
</p>

<p>
  <b>Address:</b>
  <%= @member.address.line1 %><br/>
  <%= @member.address.line2 %><br/>
  <%= @member.address.town %><br/>
  <%= @member.address.postcode %><br/>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
